* {
    box-sizing:  border-box;
}

html, body {
    background-color: #fff;
    color: #333;
    height: 100%;
    margin: 0;
    width: 100%;
}

.left {
    float: left;
    height: 100%;
    overflow: auto;
    width: 80%;
}

.right {
    background-color: #333;
    color: #fff;
    float: right;
    height: 100%;
    overflow: auto;
    width: 20%;
}

#map {
    height: 100%;
    width: 100%;
    z-index: 0;
}